# Test environment
NODE_ENV=test
PORT=3001

# Banco de teste separado
DATABASE_URL=postgresql://api_user:api_password@localhost:5432/node_rest_blueprint_test?schema=public

JWT_SECRET=test_secret_apenas_para_ambiente_de_testes
JWT_EXPIRES_IN=1h

BCRYPT_SALT_ROUNDS=4

AUTH_RATE_LIMIT_WINDOW_MS=900000
AUTH_RATE_LIMIT_MAX=1000

CORS_ORIGIN=*
